<template>
  <v-container>
    <v-card color="transparent" flat>
      <v-row class="pa-4" justify="space-between">
        <v-col cols="12" lg="5">
          <v-treeview
            return-object
            open-on-click
            transition
            activatable
            align="left"
            style="color: white"
            :items="serverdata"
            :active.sync="active"
          ></v-treeview>
        </v-col>

        <v-divider vertical color="white" class="hidden-md-and-down">
        </v-divider>

        <v-col>
          <div v-if="active.length === 0">
            <strong style="color: white">Please make a selection</strong>
          </div>
          <div v-else-if="active[0].idtype === 'memberID'">
            <UserOptions
              :username="active[0].name"
              :channels="serverinfo.channels"
              @diss="submitDiss"
              @kick="submitKick"
              @ban="submitBan"
            />
          </div>
          <div v-else-if="active[0].idtype === 'channelID'">
            <ChannelOptions
              :channelname="active[0].name"
              @message="submitMessage"
            />
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import UserOptions from './useroptions'
import ChannelOptions from './channeloptions.vue'

export default {
  name: 'Serverinfodisplay',
  components: {
    UserOptions,
    ChannelOptions,
  },
  props: {
    serverinfo: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: [],
      serverdata: [
        {
          id: 1,
          name: 'Users',
          children: [...this.serverinfo.members],
        },
        {
          id: 2,
          name: 'Channels',
          children: [...this.serverinfo.channels],
        },
      ],
    }
  },
  methods: {
    submitDiss(channelID) {
      this.$emit('diss', channelID, this.active[0].name)
    },
    submitKick() {
      this.$emit('kick', this.active[0].id)
    },
    submitBan() {
      this.$emit('ban', this.active[0].id)
    },
    submitMessage(msg) {
      this.$emit('message', msg, this.active[0].id)
    },
  },
}
</script>

<style scoped></style>
